.tree {
  list-style-type: none;
  margin-left: 20px;
}

.tree .sub-tree {
  margin-left: 20px;
}

.tree .tree-node {
  display: flex;
  align-items: center;
}

.tree .file-icon {
  margin-right: 5px;
}

.tree .folder-icon {
  margin-right: 5px;
}

.tree input[type='checkbox'] {
  margin-right: 5px;
}

.tree input[type='checkbox']:indeterminate {
  background-color: gray;
}
